<div class="scroll-div">
  <table class="table table-striped table-borderless tableFixHead">
    <thead>
      <th hidden>ID</th>
      <th>Name</th>
      <th>Code</th>
      <th>Mobile</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of employeeList">
        <td>{{ item.fullName }}</td>
        <td>{{ item.empCode }}</td>
        <td>{{ item.mobile }}</td>
        <td>
          <a class="btn text-danger" (click)="onDelete(item.id)"
            ><i class="fa fa-trash"></i
          ></a>
          <a class="btn text-success" (click)="onEdit(item)"
            ><i class="fa fa-pencil"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
